.App {
  text-align: center;
  width: 375px;
}

/* ReceptVy */

.title{
  width: 320px;
  margin-left: 27.5px;
  text-align: center;
}

.tidPort{
  background-color: gray;
  padding-left: 27.5px;
}

.ingredienser{
  text-align: left;
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveButton {
  color: #F9545B;
  background-color: white;
  width: 110px;
  height: 37px;
  border-color: #F9545B;
  border-width: 2px;
  border-radius: 25px;
  margin-bottom: 20px;
}

/* Startsida */

.startsida {
  font-family: 'Roboto', sans-serif;
  background-color: #F8CE7A;
  max-width: 375px;
  max-height: 812px;
  margin-top: -50px;
}

.startsidaTitle {
  /*-webkit-text-stroke: 5px #222165;*/
  color: white;
  font-size: 72px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* Fixa title som figman */

.startsidaText {
  padding-top: 50px;
  font-size: 26px;
  font-weight: bold;
}

.startsidaBottom {
  background-image: url("backgroundWhite.png");
  background-repeat: no-repeat;
  width: 375px;
  height: 270px;
  text-align: center;
}

.startsidaBottom button {
  width: 217px;
  height: 62px;
  background-color: #F9545B;
  color: white;
  font-size: 24px;
  border-radius: 25px;
  border-style: none;
}

.green {
  color: #22BF32;
}

.startsidaTextGrey{
  font-size: 18px;
  color: #6A6A6A;
}

/* AddWord */

.AddWord h2{
  text-align: center;
}

.AddWord p {
  margin-top: -2px;
  margin-bottom: -2px;
  margin-left: 25px;
  text-align: left;
}

.AddWordTitle {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 35px;
}

.input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.text {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  padding-left: 10px;
  width: 298px;
  height: 44px;
  background-color: #EAEAEA;
  border-style: none;
}

.submit {
  padding-bottom: -10px;
  margin-top: -10px;
  width: 44px;
  height: 44px;
  font-size: 20px;
  color: white;
  background-color: #222165;
  text-align: center;
}

.tag {
  border-color: none;
  border-width: 2px;
  border-radius: 25px;
}

.tagTitle {
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
}

.tagHolder {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  max-width: 375px;
  width: 355px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #F8CE7A;
}



/* Favoriter */

.spaceBottom {
  height: 50px;
  width: 375px;
}

.Center Button {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Menu */

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 160px;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menuButton p {
  margin-top: -2px;
  margin-bottom: -5px;
}